<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.userserver.mapper.CommentMapper">
    <select id="getCommentList" resultType="CommentPo">
        SELECT u.username,u.picture,c.*
        FROM comment as c
        left join user as u
        on c.user_id=u.id
        where c.item_id=#{commentVo.itemId}
        order by ${commentVo.order}
        <choose>
            <when test="commentVo.isAsc">
                asc
            </when>
            <otherwise>
                desc
            </otherwise>
        </choose>
    </select>
</mapper>
