<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.userserver.mapper.MessageMapper">
    <insert id="saveMessage" parameterType="Message">
        INSERT INTO message
        (`to`,`from`, content, create_time,  state ,apply)
        VALUES  ( #{to}, #{from}, #{content}, #{createTime}, #{state},#{apply} )
    </insert>

    <select id="getMessageList" resultType="Message">
        select * from message where `to`=#{name} or `from`=#{name} order by create_time asc
    </select>

    <update id="updateMessageState">
        update message set state=1 where `from`=#{from} and `to`=#{to};
    </update>
</mapper>
